.top {
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  margin: 0;
  padding: 11px 0 5px 10px;
}
.container {
  display: flex;
  justify-content: space-between;
}

.container-item {
  flex-basis: 30%;
  padding: 0 10px 0 10px;
}
.container-picture {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 250%;
}
.status {
  text-align: center;
  padding: 15px;
}
.details {
  background-color: white;
}
.icon-btn button.webix_button,
.webix_confirm-warning .webix_popup_button div {
  background-color: transparent;
  border: 1px black solid;
  border-radius: 5px;
  color: black;
  text-align: center;
  vertical-align: middle;
}
.webix_confirm-warning .webix_popup_button.confirm div,
.save-button button.webix_button {
  background-color: gainsboro;
}
.text {
  font-size: 13px;
}
.user {
  border-radius: 50%;
}
.container-list {
  display: flex;
  align-items: center;
}
.user-preview {
  font-weight: normal;
  margin: 0;
  padding-left: 10px;
  font-size: 15px;
  line-height: 100%;
}
.user-preview > span {
  font-size: 12px;
}
.edit .webix_cell:hover,
.edit .webix_cell .webix_row_select:hover {
  background-color: lightyellow !important;
}
.delete .webix_cell:hover,
.edit .webix_cell .webix_row_select:hover {
  background-color: lightpink !important;
}
@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .container-item {
    width: 50%;
  }
  .top {
    text-align: center;
  }
}
